<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CyberGardenFIrst.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CyberGardenFIrst.Properties.Settings.CGConnectionString" connectionString="Data Source=cgosmire.database.windows.net;Initial Catalog=CG;Persist Security Info=True;User ID=akrbout;Password=UQQeoCSK1290" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CyberGardenFIrst.Properties.Settings>
      <setting name="DataSource" serializeAs="String">
        <value>cgosmire.database.windows.net</value>
      </setting>
      <setting name="InitialCatalog" serializeAs="String">
        <value>CG</value>
      </setting>
      <setting name="PersistSecurityInfo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>akrbout</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>UQQeoCSK1290</value>
      </setting>
      <setting name="AdminLogin" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="AdminPassword" serializeAs="String">
        <value>ilikebeans</value>
      </setting>
    </CyberGardenFIrst.Properties.Settings>
  </userSettings>
</configuration>